@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}


/* 
*
*  FONTS
*
*/

@font-face {
  font-family: public-pixel;
  src: url("/fonts/public-pixel.woff");
}

@font-face {
  font-family: chill;
  src: url("/fonts/chill.woff");
}



/* 
*
*  SCROLLBARS && CURSOR
*
*/

html,
body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For Chrome, Safari, and Opera */
html::-webkit-scrollbar {
  display: none;
}

body {
  cursor: url(../../public/images/retro-cursor.svg), auto;
}



/* 
*
*  NAV / NUMERATORS
*
*/

.numbered-nav {
  counter-reset: link;
}

.numbered>a,
.numbered>span,
.numbered>h3 {
  counter-increment: link;
}

.numbered>a::before,
.numbered>span::before,
.numbered>h3::before {
  content: counter(link) ". ";
  display: inline-block;
  font-family: chill;
  font-size: var(--dynamic-font-size);
  margin-right: 7px;
}

.numbered>a.no-count::before {
  content: none;
}