@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}



/* 
*
*  FONTS
*
*/

@font-face {
  font-family: public-pixel;
  src: url("/fonts/public-pixel.woff");
}

@font-face {
  font-family: chill;
  src: url("/fonts/chill.woff");
}



/* 
*
*  SCROLLBARS && CURSOR
*
*/

html,
body {
  scroll-behavior: smooth;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For Chrome, Safari, and Opera */
html::-webkit-scrollbar {
  display: none;
}

body {
  cursor: url(../../public/images/cursor.webp), auto;
}

a,
button {
  cursor: url(../../public/images/pointer.webp), pointer;
}



/* 
*
*  NUMERATORS [ SECTIONS & NAV ]
*
*/

body {
  counter-reset: sectionCounter;
}

section h3 {
  counter-increment: sectionCounter;
}

section h3::before {
  content: counter(sectionCounter, decimal-leading-zero) ". ";
  display: inline-block;
  font-family: chill;
  font-size: clamp(16px, 4vw, 25px);
  color: #A8947E;
  margin-right: 7px;
}

.numbered-nav {
  counter-reset: link;
}

.numbered>a,
.numbered>span {
  counter-increment: link;
}

.numbered>a::before,
.numbered>span::before {
  content: counter(link, decimal-leading-zero) ". ";
  display: inline-block;
  font-family: chill;
  margin-right: 7px;
}

.numbered>a.no-count::before {
  content: none;
}



/* 
*
*  REUSED STYLES
*
*/

.dashed-line {
  @apply 
          after:content-['']
          after:block
          after:relative
          after:w-[300px]
          after:h-px
          after:ml-7
          after:my-auto 
          after:border-2
          after:border-dashed
          after:border-main-gray
          after:max-[1080px]:w-[200px]
          after:max-[768px]:w-full
          after:min-[768px]:ml-3
          after:max-[600px]:ml-3;
}
.link-style {
  @apply 
          inline-block
          no-underline
          text-inherit
          relative
          transition-all
          duration-300
          hover:outline-0
          hover:text-secondary-orange
          focus:text-secondary-orange focus:outline-0;
}
.underline-effect {
  @apply 
          inline-block 
          relative 
          transition-all 
          duration-300 
          before:content-[''] 
          before:absolute 
          before:-bottom-0 
          before:left-0 
          before:w-0 
          before:h-0.5
          before:transition-all 
          before:duration-300 
          hover:before:w-full
          before:bg-secondary-orange;
}