@tailwind base;
@tailwind components;
@tailwind utilities;



/* 
*
*  FONTS
*
*/

@font-face {
  font-family: public-pixel;
  src: url("/fonts/public-pixel.woff");
}

@font-face {
  font-family: chill;
  src: url("/fonts/chill.woff");
}



/* 
*
*  SCROLLBARS
*
*/

html,
body {
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* For Chrome, Safari, and Opera */
html::-webkit-scrollbar {
  display: none;
}



/* 
*
*  NAV
*
*/

.numbered-nav {
  counter-reset: link;
}

.numbered-nav>a,
.numbered-nav>span {
  counter-increment: link;
}

.numbered-nav>a::before,
.numbered-nav>span::before {
  content: counter(link) ". ";
  display: inline-block;
  font-family: chill;
  font-size: 2.7vh;
  margin-right: 7px;
}
















.bg-pixel-space-transparent {
  background-image: url('/images/space-pixel-art.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.bg-pixel-space-transparent::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20, 14, 8, 0.5); /* Cambia el color y la opacidad según necesites */
  z-index: 1;
}

.img-blur {
  mask-image: radial-gradient( black 0%, transparent );
}