:root{
  --dynamic-duration: 0.3s;
  --dynamic-translate: -100%;
}


/* main menu display animation */
@keyframes fadeIn {
  from {
    transform: translateX(var(--dynamic-translate));
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn var(--dynamic-duration) ease-out;
}


/* animation of disappearing from the main menu */
@keyframes fadeOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(var(--dynamic-translate));
    opacity: 0;
  }
}
.animate-fadeOut {
  animation: fadeOut var(--dynamic-duration) ease-out forwards;
}


/* multiplataform menu display animation */
@keyframes wipe-in-right {
  from {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
.wipe-in-right {
  animation: 1s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}


/* animation of disappearing from the multiplataform menu */
@keyframes wipe-out-left {
  from {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
  to {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }
}
.wipe-out-left {
  animation: 0.75s cubic-bezier(.25, 1, .30, 1) wipe-out-left both;
}

.numbered-nav {
  counter-reset: link;
}

.numbered-nav > a,
.numbered-nav > span {
  counter-increment: link;
}

.numbered-nav > a::before,
.numbered-nav > span::before {
  content: counter(link) ". ";
  display: inline-block;
  font-family: chill;
  font-size: 2.7vh;
  margin-right: 7px;
}